# For locally use, copy this content to a new file called .env.local and adjust the values as needed.
# Next.js uses .env.local for local development

# NextAuth
NEXTAUTH_URL=https://cg-dmf-admin.dev.baseflow.com/
NEXTAUTH_SECRET=this-secret-is-used-for-encrypting-nextauth-cookies-change-in-production

# Keycloak — server-side (used by NextAuth route handler)
KEYCLOAK_URL=https://auth.gzac.baseflow.com
KEYCLOAK_REALM=valtimo
KEYCLOAK_CLIENT_ID=dmf-dashboard
# This is needed if client authentication is on in keycloak.
# currently it's turned off
#KEYCLOAK_CLIENT_SECRET=changeme

# API
BACKEND_URL=https://cg-dmf.dev.baseflow.com/admin-backend
DOCUMENTEN_API_OPENAPI_SPEC_URL=https://cg-dmf.dev.baseflow.com/docs/openapi/documenten.json